@font-face {
    font-family: OpenSans;
    src: url(OpenSans-Regular.ttf);
}
span#attr {
	cursor: pointer;
}

span#attr_image {
	cursor: pointer;
}

span.attr_open_image {
	padding-left: 30px;
	width: 30px;
	background:url(../images/open.png) no-repeat center !important;
}

span.attr_close_image {
	padding-left: 30px;
	width: 30px;
	background:url(../images/close.png) no-repeat center !important;
}
.active {
background:url(../images/minus.png) no-repeat 665px 7px !important;
}
.deactive {
background:url(../images/plus.png) no-repeat 665px 7px !important;
}
.round {
background: #BEBEBE;
margin: 5px;
padding: 5px 5px;
border:1px solid gray;
border-bottom:none;
cursor:pointer;
/*border-top-left-radius: 10px 5px;
border-top-right-radius: 10px 5px;*/
margin-bottom: 0 !important;
padding-bottom: 0px;
padding-bottom: 0px;
margin-bottom: 10px;
}
.deactive
{
	border-bottom:1px solid gray;
}
.singlegrp {
margin: 5px;
padding: 5px 5px;

border-top:none;
background:#F2F2F2;
margin-top:0px;
padding-top: 0px;

}
#facebook{
	margin-top:30px;
	float:left;
}
.facebook_block{
	background-color:#9FC0FF;
	border:2px solid #3B5998;
	float:left;
	height:30px;
	margin-left:5px;
	width:8px;
        opacity:0.1;
	-webkit-transform:scale(0.7);
	-webkit-animation-name: facebook;
 	-webkit-animation-duration: 1s;
 	-webkit-animation-iteration-count: infinite;
 	-webkit-animation-direction: linear;

	}
#block_1{
 	-webkit-animation-delay: .1s;
 }
#block_2{
 	-webkit-animation-delay: .2s;
}
#block_3{
 	-webkit-animation-delay: .3s;
}
#block_4{
 	-webkit-animation-delay: .4s;
}
#block_5{
 	-webkit-animation-delay: .5s;
}
#block_6{
 	-webkit-animation-delay: .6s;
}

@-webkit-keyframes facebook{
	0%{-webkit-transform: scale(1.2);opacity:1;}
	100%{-webkit-transform: scale(0.7);opacity:0.1;}
}
.left h3 ,.maintable h3
{
color: #666666;
margin:5px 0px;
font-size:12px;
float:left;
}
.selectallfront
{
	position: relative;

    text-align: right;


}
.selectallfront a
{
	color:#0094D9 !important;
}
.frontbutton
{
float:right;



}
.frontbutton input
{
margin-top:0px;
width: 80px !important;
height: 23px;
font-size:14px;
background:url(../images/exp_data_btn.png) no-repeat scroll 0px 0px;
font-family:OpenSans,Calibri;
width:93px;
font-weight:normal;
color:#333232;
text-shadow:none;

}
.frontitle h1
{

	margin-left: 0px;
	margin-top:0px;
	font-size:140%;
	color:#0094D9 !important
}
.ui-tabs-vertical { width: 100%; }
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; top:0px;}
.ui-tabs-vertical .ui-tabs-nav li a { display:block; color:#666666 !important;
font-size:12px; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-selected { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; top:0px;}
.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 62em;}
.ui-tabs-panel{padding:0px !important;}
#tabs ul{
padding: 0px;
border: none;
border-right: 1px solid #B9B7B5 !important;
background: #FFF url(../images/mica_left_bg.png)  repeat-y;
color: #222;
font-weight: bold;
width:192px !important;
height:100% !important;
}
#tabs li{
background: #FFF url(../images/mica_left_bg.png)  repeat-y !important;
border: none !important;
padding:0px 0px 4px 0px !important;
font-weight: bold;
text-align:left;
}
#tabs .ui-tabs-nav .ui-tabs-selected{
padding:0px 0px 4px 0px !important;
width: 101% !important;
border-left:none !important;

border-top:1px solid #B9B7B5 !important;
border-bottom:1px solid #B9B7B5 !important;
background: #f0f0f0 !important;
font-weight: bold;
color:#99403B !important;
}
#tabs .ui-tabs-nav li:first-child.ui-tabs-selected{
padding:0px 0px 4px 0px !important;
width: 101% !important;
border-left:none !important;

border-top:none !important;
border-bottom:1px solid #B9B7B5 !important;
background: #f0f0f0 !important;
font-weight: bold;
color:#99403B !important;
}
#tabs{
padding:0px 0px 0px 0px !important;
background: #f0f0f0 !important;
border: 1px solid #AAA;
}
#tabs .ui-tabs-nav .ui-tabs-selected a{

color:#666666 !important;
font-size:12px;
}
#statetotal ,.togglingattribute
{
clear: both;
}

.maintable{margin:4px 0px;}
.maintable .left
{
 width: 155px;
 display:inline-block;
 float:left
}
.grptitle
{
	float: right;
	padding-left: 25px;
	text-align:left;
}
.grpimg
{
	float: left;
	margin:0px 0px 0px 0px;
}

.maintable h3 select#state{  background: url(../images/input-box.png) no-repeat;
    border: medium none;
    font-family: OpenSans,Calibri,Arial,Helvetica,sans-serif;
    font-size: 12px;
    height: 23px;
    padding: 2px 0 0 6px;
    width: 170px;}

.maintable h3 select#town{  background: url(../images/input-box.png) no-repeat;
    border: medium none;
    font-family: OpenSans,Calibri,Arial,Helvetica,sans-serif;
    font-size: 12px;
    height: 23px;
    padding: 2px 0 0 6px;
    width: 170px;}

.maintable h3 select#district{  background: url(../images/input-box.png) no-repeat;
    border: medium none;
    font-family: OpenSans,Calibri,Arial,Helvetica,sans-serif;
    font-size: 12px;
    height: 23px;
    padding: 2px 0 0 6px;
    width: 170px;}

.maintable h3 select#urban{  background: url(../images/input-box.png) no-repeat;
    border: medium none;
    font-family: OpenSans,Calibri,Arial,Helvetica,sans-serif;
    font-size: 12px;
    height: 23px;
    padding: 2px 0 0 6px;
    width: 170px;}



div#m_type_chzn.chzn-container{
    border: medium none;
    font-family: OpenSans,Calibri,Arial,Helvetica,sans-serif;
    font-size: 12px;
    height: 23px;

	width:170px !important;
    }

.maintable h3 select#dataof
{
	background: url(../images/input-box.png) no-repeat;
    border: medium none;
    font-family: OpenSans,Calibri,Arial,Helvetica,sans-serif;
    font-size: 12px;
    height: 23px;
    padding: 2px 0 0 6px;
    width: 170px;
}

#Mkt_Potential_Indexgrp .maintableattr{padding-top:5px; clear:both; width:100%;}
#Mkt_Potential_Indexgrp .variablechkbox { float:left; height:20px; line-height:20px; padding-right:3px;}
#Mkt_Potential_Indexgrp .variabletext {line-height:16px;}


.maintableattr {
    clear: both;
    padding-top: 5px;
    width: 100%;
	display:inline-block;
}

.variablechkbox
{
	 float: left;
    margin: 0px;
    width: 2.5%;
}


.variabletext:first-letter {
    font-size: 12px;
}
.variabletext {
    float: left;
    padding-left: 10px;
    width: 28%;
	line-height:16px;
}

#micaform .maintable .right{display:inline-block;}

#micaform .maintable .left h3{font-size:14px;}
#micaform .maintable .right h3{font-size:14px; margin:0px;float:right;}

#micaform .togglingattribute h3{font-size:14px;}

div.grpimg img{position:absolute; margin-left:-17px;}
div.halfleft,div.halfright
{
width: 50%;
float: left;
}

.halfright{

	}



.leftbottop, .righttop{

/*	margin-bottom:30px;*/
	}

.righttop{
	border:1px solid #ccc;
	padding:10px;
	}
	.rightbottom{
		border:1px solid #ccc;
		border-top:0px;
	padding:10px;
		}
	.righttop .maintable{
		   line-height: 25px !important;
		}

		.rightbottom .maintable{
		   line-height: 25px !important;
		     text-align:left;

		}

		.rightbottom {

/*		   margin-top: 42px;*/
		   text-align:left;
		}

		#micaform .righttop .right h3 {
    float: left;
    font-size: 14px;
    margin: 0;
}

	#micaform .rightbottom .right h3 {
    float: left;
    font-size: 14px;
    margin: 0;
}
