.logo_content {padding-right:29px !important; padding-left: 39px !important; width:205px;}
.logo_content1 { margin-left:-32px; padding-left:5px}
.inputbox {line-height:24px; }

select option{background:#none !important;}

#footer{clear:both;}

.vwsapretor
{
background:url(../images/four_v_line.png) repeat-y scroll 0px 0px !important ; height:100%;
/*margin:10px 0;*/
}