/*
# ------------------------------------------------------------------------
# Extensions for Joomla 2.5 - Joomla 3.x
# ------------------------------------------------------------------------
# Copyright (C) 2011-2013 Ext-Joom.com. All Rights Reserved.
# @license - PHP files are GNU/GPL V2.
# Author: Ext-Joom.com
# Websites:  http://www.ext-joom.com 
# Date modified: 27/08/2013 - 13:00
# ------------------------------------------------------------------------
*/


/* adding ext-vertical class in addition to ext-menu creates a vertical menu */
/* eg. <ul class="ext-menu ext-vertical"> ... */
.ext-vertical {
  width: 12em;
  /* If you want the width of the closed menu to expand to its
  widest top-level menu item (like its "Supersubs" submenus do),
  replace the width rule above with the following two rules. */

  /*
  min-width: 12em;
  *width: 12em;
  */
}
.ext-vertical ul {
	left:	100%;
	top: 0;
}
.ext-vertical > li {
  float: none;
}
.ext-vertical li {
  width: 100%;
}

/*** alter arrow directions ***/
.ext-vertical.ext-arrows > li > .ext-with-ul:after {
  margin-top: -5px;
  margin-right: -3px;
  border-color: transparent;
  border-left-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
  border-left-color: rgba(255,255,255,.5);
}
.ext-vertical.ext-arrows li > .ext-with-ul:focus:after,
.ext-vertical.ext-arrows li:hover > .ext-with-ul:after,
.ext-vertical.ext-arrows .sfHover > .ext-with-ul:after {
  border-left-color: white;
}
