div.icon-48-iplogger {
	background: url('assets/images/icon-48-iplogger.png') no-repeat left;
}
div.icon-48-statistics {
	background: url('assets/images/icon-48-statistics.png') no-repeat left;
}
div.icon-48-report {
	background: url('assets/images/icon-48-report.png') no-repeat left;
}
div.icon-48-block {
	background: url('assets/images/icon-48-block.png') no-repeat left; 
}
div.icon-48-excp {
	background: url('assets/images/icon-48-excp.png') no-repeat left; 
}
div.icon-48-email {
	background: url('assets/images/icon-48-email.png') no-repeat left; 
}
div.icon-48-update {
	background: url('assets/images/icon-48-update.png') no-repeat left;
}
div.icon-48-info {
	background: url('assets/images/icon-48-info.png') no-repeat left;
}

.sax-cpanel-left {
	float: left;
	width: 70%;
}
.sax-cpanel-right {
	float: right;
	width: 28%;
}
.sax-icon {
	margin: 0;
	padding: 5px;
	float: left;
	margin: 0 auto;
	text-align: center;
}
.sax-icon-inside.thumbnail {
	width: 100px;
	height: 100px;
	-webkit-border-radius: 0px;  
    border-radius: 0px;
	background: #fdfdfd;
}
.sax-icon-inside.thumbnail img {
	margin-top: 10px;
	margin-bottom: -12px;
}
.sax-icon-inside.thumbnail span {
}