.icon-32-export {
	background-image:url("../icons/export.png");
}
table.admintable td label {
	clear: none ;
	min-width: 40px;
	margin : 3px 2px ;
}

table.admintable td.key {
	font-weight: bold ;
}

fieldset.adminform {
	background-color: white ;
}

table.admintable {
	background-color: white ;	
}

table.admintable td label {
	clear: none ;
	min-width: 40px;
	margin : 3px 2px ;
	display: inline-block; 
}
fieldset.adminform {
	border: none ;
	margin: 0px;
	padding: 0px;	
}
form.osm-configuration div.control-label
{
    width: 25% !important;
}
.form-horizontal .control-label {
	width: 160px !important;
	text-align: left;
}

.form-horizontal div.controls label {	
	clear: none ;
	min-width: 40px;
	display: inline-block; 
}
table.adminlist td.text_center, table.adminlist th.text_center {
	text-align: center ;
}
table.adminlist td.text_left, table.adminlist th.text_left {
	text-align: left ;
}
table.adminlist td.text_right, table.adminlist th.text_right {
	text-align: right ;
}
/* -- PANE SLIDER STYLES ----------------------------- */
.pane-sliders {
 margin: 18px 0 0 0;
 position:relative;
}
.pane-sliders .title {
 margin: 0;
 padding: 2px 2px 2px 5px;
 color: #666;
 cursor: pointer;
}

#content-pane {
 margin: 8px 10px 15px 15px;
}

.pane-sliders .panel {
 margin-bottom: 3px;
 border:solid 1px #ccc;
}

.pane-sliders .panel h3 {
 background: #fafafa;
 color: #666;
}

.pane-sliders .content {
 background: #fff;
}

.pane-sliders .adminlist {
 border: 0 none;
 font-size: 1em;
}

.pane-sliders .adminlist td {
 border: 0 none;
}

h3.pane-toggler a{
	font-size:13px !important;
}
.pane-sliders .panel h3 {
    color: #666;
    font-size:13px !important;
}

.pane-toggler span {
 background: transparent url(../icons/j_arrow.png) 5px 50% no-repeat;
 padding-left: 20px;
}

.pane-toggler-down span {
 background: transparent url(../icons/j_arrow_down.png) 5px 50% no-repeat;
 padding-left: 20px;
}

.pane-toggler-down {
 border-bottom: 1px solid #ccc;
}

h3.pane-toggler-down a:hover,
h3.pane-toggler a:hover {
 text-decoration: none;
}

.pane-slider.pane-hide {
 display: none;
}

.pane-slider ol li {
 list-style: none;
 margin-left: -25px;
 margin-top: 10px;
}
/* -- CONTROL PANEL STYLES ----------------------------- */
.cpanel div.icon, #cpanel div.icon {
	text-align: center;
	margin-right: 15px;
	float: left;
	margin-bottom: 15px;

}
.cpanel div.icon a, #cpanel div.icon a {
	background-color: #fff;
	background-position: -30px;
	display: block;
	float: left;
    height: 105px;
    width: 118px !important;
	color: #565656;
	vertical-align: middle;
	text-decoration: none;
	border: 1px solid #DDD;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition-property:
		background-position,
		-webkit-border-bottom-left-radius,
		-webkit-box-shadow;
	-moz-transition-property:
		background-position,
		-moz-border-radius-bottomleft,
		-moz-box-shadow;
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
}

#cpanel div.icon a:hover,
#cpanel div.icon a:focus,
#cpanel div.icon a:active,
.cpanel div.icon a:hover,
.cpanel div.icon a:focus,
.cpanel div.icon a:active {
	background-position: 0;
	-webkit-border-bottom-left-radius: 50% 20px;
	-moz-border-radius-bottomleft: 50% 20px;
	border-bottom-left-radius: 50% 20px;
	-webkit-box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.25);
	box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.25);
	position: relative;
	z-index: 10;
}

#cpanel img,
.cpanel img {
	padding: 10px 0;
	margin: 0 auto;
}

#cpanel span,
.cpanel span {
	display: block;
	text-align: center;
}

div.cpanel-left {
	width: 54%;
	float: left;
}

div.cpanel-right {
	width: 45%;
	float: right;
}

#mp-dropdown-menu .dropdown .dropdown-menu li.active a {
	color: #fff !important;
}

span.required, span.star
{
    color: red;
}